html, body {
  font-size: 18px;
  background-color: #fdf9e5;
  background-color: #f9f9f9;
}

.ui.container {
  width: 100%;
  max-width: 960px!important;
  margin: 0 auto!important;
}

.sidebar.button {
  margin: -0.3em 0;
  padding: 0.3em 0.5em;
  border-radius: 0.5em;
  opacity: 0.7;
  float: right;
}

.sidebar.button:hover {
  opacity: 1;
  background-color: rgba(255,255,255,0.8);
}

.inline.block {
  display: inline-block;
}

.ui.section.segment {
  margin: 0;
  padding: 1rem 0;
}

#header #background {
  background: url('../assets/images/header.png') no-repeat center bottom;
  background-size: cover;
  padding: 2rem 1rem;
  min-height: 10rem;
}

#header #slogan {
  display: inline-block;
  text-align: center;
  color: #034900;
  font-size: 1.5rem;
  padding: 1rem 2rem;
  margin: 0 -3rem -2rem -1rem;
}

@media only screen and (max-width: 767px) {

#header .right.aligned.column {
  text-align: left;
}

#header #slogan {
  padding: 1rem;
  text-align: left;
}


#news .ui.items .item {
  text-align: center;
}

}

@media only screen and (max-width: 639px) {

#header #background {
  background-size: 80%;
  background-position: right bottom;
}

}

@media only screen and (max-width: 539px) {

#header #background {
  background-size: 70%;
}

}

@media only screen and (max-width: 479px) {

#header #background {
  background-size: 55%;
}

}

