<!DOCTYPE html>
<html>
<head>

<!-- 準備 og 素材 -->

{% assign sitename = site.data.site.name %}
{% assign og_url = page.url %}
{% assign base_url = "" %}
{% if page.layout == "county" %}
  {% assign og_title = site.data.geo.county[page.county_id].name %}
{% else %}
  {% assign og_title = page.title %}
{% endif %}
{% assign og_favicon = site.data.site.favicon %}

{% if page.cover %}
{% assign og_image = page.cover %}
{% else %}
{% assign og_image = site.data.site.cover %}
{% endif %}

{% if page.description %}
{% assign og_description = page.description %}
{% else %}
{% assign og_description = site.data.site.description %}
{% endif %}

<!-- 把準備好的 og 素材套到 meta 標籤中 -->

  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=0" />

  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{ base_url }}{{ og_url }}" />

  <meta name="description" content="{{ og_description }}" />
  <meta property="og:description" content="{{ og_description}}" /> 
  <meta name="twitter:description" content="{{ og_description }}"/>

  <meta property="og:image" content="{{ base_url }}/{{ og_image }}" /> 
  <meta name="twitter:image:src" content="{{ base_url }}/{{ og_image }}" />

  <meta property="og:title" content="{{ og_title }} | {{ sitename }}" />
  <meta name="twitter:title" content="{{ og_title }} | {{ sitename }}" />
  <title>{{ og_title }} | {{ sitename }}</title>

  <link rel="shortcut icon" type="image/x-icon" href="{{ base_url }}/{{ og_favicon }}" />

<!-- 套上 css -->

  <link rel="stylesheet" href="{{ base_url }}/assets/vendors/semantic/semantic.min.css"/>

  <link rel="stylesheet" href="{{ base_url }}/assets/global.css"/>

  {% if page.head %}
    {% include {{ page.head }} %}
  {% endif %}

</head>
<body>

  <nav class="ui right inverted vertical menu sidebar">
  {% include sidebar.html %}
  </nav>

  <div class="pusher">
  {{ content }}
  </div>

  <script src="{{ base_url }}/assets/vendors/jquery-3.2.1.min.js"></script>
  <script src="{{ base_url }}/assets/vendors/semantic/semantic.min.js"></script>
  <script src="{{ base_url }}/assets/global.js"></script>

  {% if page.footer %}
    {% include {{ page.footer }} %}
  {% endif %}

  {% include ga.html %}

</body>
</html>
